services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gestor_app
    working_dir: /var/www
    volumes:
      - ./:/var/www
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: gestordetareas
      DB_USERNAME: laravel
      DB_PASSWORD: laravel
    command: php artisan serve --host=0.0.0.0 --port=8000

  db:
    image: postgres:16
    container_name: gestor_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: gestordetareas
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: laravel
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
